// 颜色定义规范
$color-background = rgb(248, 248, 255)
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = rgb(186, 40, 53)
$color-playlist-background = #B0C4DE
$color-dialog-background = #666
$color-theme = #FFF
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #222
$color-text-d = rgb(151, 151, 151)
$color-text-l = #333
$color-text-ll = rgba(255, 255, 255, 0.8)
$color-tab = rgb(186, 40, 53)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px